<div class="mobSearchWidget">
      <h3>Shop Tires:</h3>
      <ul>
            <li class="navPage-subMenu-item-child">
                  <a class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu" href="javascript:void(0)" data-collapsible="navPages-mob-ByVehicle">
                        <span class="Left">
                              <img src="{{cdn 'webdav:mobimages/by-vehicle-mob.svg'}}" alt="">
                        </span>
                        <span class="Right">
                              <span class="topTxt">By Vehicle</span>
                              <span class="bottomTxt">Year, Make, Model, Option</span>
                        </span>
                  </a>
            </li>
            <li class="navPage-subMenu-item-child">
                  <a class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu" href="javascript:void(0)" data-collapsible="navPages-mob-BySize">
                        <span class="Left">
                              <img src="{{cdn 'webdav:mobimages/by-size-mob.svg'}}" alt="">
                        </span>
                        <span class="Right">
                              <span class="topTxt">By Size</span>
                              <span class="bottomTxt">Width, Sidewall, Diameter</span>
                        </span>
                  </a>
            </li>
            <li class="navPage-subMenu-item-child">
                  <a class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu" href="javascript:void(0)" data-collapsible="navPages-mob-ByType">
                        <span class="Left">
                              <img src="{{cdn 'webdav:mobimages/by-type-mob.svg'}}" alt="">
                        </span>
                        <span class="Right">
                              <span class="topTxt">By Type</span>
                              <span class="bottomTxt">Passenger, SUV, Light Truck...</span>
                        </span>
                        <i class="icon navPages-action-moreIcon" aria-hidden="true"></i>
                  </a>
            </li>
      </ul>
</div>
