<div class="breadcrumbs_Outer">
	<div class="container">
		<ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
			{{#unless theme_settings.hide_breadcrumbs }}
				{{#each breadcrumbs}}
					{{#if @first}}
						<li class="breadcrumb {{#if @last}}is-active{{/if}}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a href="{{url}}" class="breadcrumb-label" itemprop="item"><span class="Home" itemprop="name"></span></a>
						</li>
						{{else}}
						<li class="breadcrumb {{#if @last}}is-active{{/if}}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							{{#or @last (if url "==" null)}}
								<meta itemprop="item" content="{{url}}">
								<span class="breadcrumb-label Last-Link" itemprop="name">{{name}}</span>
							{{else}}
								<a href="{{url}}" class="breadcrumb-label" itemprop="item"><span itemprop="name">{{name}}</span></a>
							{{/or}}
							<meta itemprop="position" content="{{add @index 1}}" />
						</li>
					{{/if}}
				{{/each}}
			{{/unless}}
		</ul>
	</div>	
</div>
