<footer class="footer" role="contentinfo">
    <div class="footerTop">
        <div class="container">
            <section class="footer-info">
                <article class="footer-info-col">
                    <div class="footer-info-top">
                        <ul>
                            <li class="footerCall"><a href="tel:866-440-0177">Questions? 866-440-0177<span>8am - 6pm EST MOnday - Saturday. Closed Sunday</span></a></li>
                            <li class="footerEmial"><a href="mailto:info@prioritytire.com">info@prioritytire.com</a></li>
                        </ul>
                    </div>
                    <div class="footer-info-bottom">
                        <h5 class="footer-info-heading">Customer</h5>
                        <ul class="footer-info-list">
                            <li><a href="/account.php">My Account</a></li>
                            <li><a href="/account.php?action=view_returns">Track My Order</a></li>
                            <li><a href="/reviews/">Customer Reviews</a></li>
                        </ul>
                    </div>
                </article>
                <article class="footer-info-col Warehouse-list width-auto hideMob">
                    <h5 class="footer-info-heading">Warehouse Locations</h5>
                    <ul class="footer-info-list">
                        <li><p>7072 Snowdrift Rd,<br> Allentown, 
                            PA 18106<br> 
                            <a href="tel:866-440-0177">866-440-0177</a></p></li>
                        <li><p>2920 114th Street Suite 300,<br> 
                            Grand Prairie, TX 75050<br> 
                            <a href="tel:866-440-0177">866-440-0177</a></p></li>
                        <li><p>1594 Transport Ct STE 102,<br> 
                            Jacksonville, FL 32218<br> 
                            <a href="tel:866-440-0177">866-440-0177</a></p></li>
                    </ul>
                </article>
                <article class="footer-info-col width-auto">
                    <h5 class="footer-info-heading">Shopping Information</h5>
                    <ul class="footer-info-list">
                        <li><a href="/">Shop</a></li>
                        <li><a href="/faqs/">FAQs</a></li>
                        <li><a href="/shipping-info/">Shipping Info</a></li>
                        <li><a href="/terms-of-sale/">Terms of Sale</a></li>
                        <li><a href="/financing/">Financing Info</a></li>
                        <li><a href="/membership/">Membership Benefits</a></li>
                    </ul>
                    <div class="hideMob">
                        <h5 class="FollowUsTxt footer-info-heading">Follow Us</h5> {{> components/common/social-links}} </div>
                </article>
                <article class="footer-info-col width-auto secure-shopping">
                    <div class="hideDesktop">
                        <h5 class="Best footer-info-heading">Priority Tire</h5>
                        <ul class="footer-info-list">
                            <li><a href="/current-deals/">Deals</a></li>
                            <li><a href="/blog/">Blog</a></li>
                            <li><a href="/about-us/">About Us</a></li>
                            <li><a href="/contact-us/">Contact Us</a></li>
                        </ul>
                        <h5 class="footer-info-heading">Warehouse Locations</h5>
                        <ul class="footer-info-list Warehouse-list-mob">
                            <li><p>7072 Snowdrift Rd,<br> Allentown, 
                                PA 18106<br> 
                                <a href="tel:866-440-0177">866-440-0177</a></p></li>
                            <li><p>2920 114th Street Suite 300,<br> 
                                Grand Prairie, TX 75050<br> 
                                <a href="tel:866-440-0177">866-440-0177</a></p></li>
                            <li><p>1594 Transport Ct STE 102,<br> 
                                Jacksonville, FL 32218<br> 
                                <a href="tel:866-440-0177">866-440-0177</a></p></li>
                        </ul>
                        <h5 class="footer-info-heading">Secure Shopping</h5>
                        <ul class="footer-info-list">
                        	<li>
                                <a name="trustlink" href="https://secure.trust-guard.com/business/13401" rel="nofollow" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href,'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;"><img name="trustseal" alt="Business Verified" style="border: 0;" src="//secure.trust-guard.com/seals/newbiz/13401-lg.gif"></a>
                            </li>
                            <li>
                                <a name="trustlink" href="https://secure.trust-guard.com/security/13401" rel="nofollow" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href,'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;"><img name="trustseal" alt="Turst Guard Security Seal" style="border: 0;" src="//secure.trust-guard.com/seals/security/13401-small.gif"></a>
                            </li> 
                        </ul>
                    </div>
                    <div class="hideMob">
                        <h5 class="footer-info-heading">Secure Shopping</h5>
                        <ul class="footer-info-list top">
                            <li>
                                <a name="trustlink" href="https://secure.trust-guard.com/business/13401" rel="nofollow" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href,'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;"><img name="trustseal" alt="Business Verified" style="border: 0;" src="//secure.trust-guard.com/seals/newbiz/13401-lg.gif"></a>
                            </li>
                            <li> 
                                <a name="trustlink" href="https://secure.trust-guard.com/security/13401" rel="nofollow" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href,'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;"><img name="trustseal" alt="Turst Guard Security Seal" style="border: 0;" src="//secure.trust-guard.com/seals/security/13401-small.gif"></a>	
                            </li>
                        </ul>
                        <h5 class="Best footer-info-heading">Priority Tire</h5>
                        <ul class="footer-info-list">
                            <li><a href="/current-deals/">Deals</a></li>
                            <li><a href="/blog/">Blog</a></li>
                            <li><a href="/about-us/">About Us</a></li>
                            <li><a href="/contact-us/">Contact Us</a></li>
                            <li><a href="/join-our-installer-program/">Join Installer Program</a></li>
                        </ul>
                    </div>
                </article>
                <article class="footer-info-col hideDesktop">
                    <div class="Left"> {{> components/common/social-links}} </div>
                    <div class="Right"> <a class="BackTop" href="javascript:void(0)">Back to top</a> </div>
                </article>
            </section>
        </div>
    </div>
    <div class="footerBottom">
        <div class="container">
            <div class="FooterRight"> <img class="lazyload" title="" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" alt="footer payment logos" data-sizes="auto" data-src="https://cdn11.bigcommerce.com/s-e8i94i2k1a/product_images/uploaded_images/footer-payment-logos-new.png" /> </div>
            <div class="FooterLeft">
                <div class="footer-copyright">
                    <p class="powered-by">{{moment format="YYYY"}} {{settings.store_name}}. All Rights Reserved</p>
                    <ul>
                        <li><a href="/privacy-policy/">Privacy policy</a></li>
                        <li><a href="/return-policy/">Return policy</a></li>
                        <li><a href="/help-center/">Help center</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="IEBPOP" style="display:none;">
    <div class="iepopin">
        <h2>You appear to be using IE<br>
            (Internet Explorer) as your browser.</h2>
        <h3>Unfortunately we cannot support this version.</h3>
        <p>Upgrade to one of the following options.</p>
        <ul class="Browser-list">
            <li>
                <div class="B-list-img">
                    <img src="/content/cms/edge-browser.png"/>
                </div>
                <p class="B-list-name"><a href="https://www.microsoft.com/en-us/edge">Microsoft Edge</a></p>
            </li>
            <li>
                <div class="B-list-img">
                    <img src="/content/cms/google-chrome.png"/>
                </div>
                <p class="B-list-name"><a href="https://www.google.com/chrome/">Google Chrome</a></p>
            </li>
            <li>
                <div class="B-list-img">
                    <img src="/content/cms/firefox-browser.png"/>
                </div>
                <p class="B-list-name"><a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a></p>
            </li>
        </ul>
    </div>
</div>
<div class="mobSearchWidget BottomStickyBar hideDesktop" style="display:none;">
    <ul>
        <li class="navPage-subMenu-item-child"><a class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu" href="javascript:void(0)" data-collapsible="navPages-mob-ByVehicle"><span class="Left"><img src="/content/mobimages/by-vehicle-mob.svg" alt=""></span><span class="Right">Shop By<br/>Vehicle</span></a></li>
        <li class="navPage-subMenu-item-child"><a class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu" href="javascript:void(0)" data-collapsible="navPages-mob-BySize"><span class="Left"><img src="/content/mobimages/by-size-mob.svg" alt=""></span><span class="Right">Shop<br/>By Size</span></a></li>
        <li class="navPage-subMenu-item-child"><a class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu" href="javascript:void(0)" data-collapsible="navPages-mob-ByType"><span class="Left"><img src="/content/mobimages/by-type-mob.svg" alt=""></span><span class="Right">Shop<br/>By Type</span></a></li>
    </ul>
</div>

{{#if page_type '!=' 'product'}}
<div id="searchspring-mobile-sticky">
    <div class="CatBottomStickyBar hideDesktop">
        <div class="BottomStickyLeft">
            <div class="CatImg">
                <img src="/content/vehicle-example-cp.png" alt="">
            </div>
            <div class="CatContent">
                <p>Shopping for:</p>
                <span class="SizeLabel">2018 BMW M5 Base</span>
            </div>
        </div>
        <div class="CatBotmenu Right">
            <a href="javascript:void(0);" class="Filter_Menu">FILTER <br>& SORT</a>
        </div>
    </div>
</div>
{{/if}}

{{!-- Please add filter code --}}{{!--
<div class="CatBottomStickyBar hideDesktop">
    <div class="BottomStickyLeft NullResultSticky">
        <p>YOU ARE SHOPPING FOR ALL SIZES</p>
        <div class="CatContent"> <a href="javascript:void(0);" data-collapsible="navPages-mob-ByVehicle" class="StickyLink">Shop By Vehicle</a> <a href="javascript:void(0);" data-collapsible="navPages-mob-BySize" class="StickyLink">Shop By Size</a> </div>
    </div>
    <div class="CatBotmenu Right"><a href="javascript:void(0);" class="Filter_Menu">FILTER <br>&amp; SORT</a></div>
</div> --}}

<!-- BEGIN: _GUARANTEE Seal --><span id="_GUARANTEE_SealSpan"></span>
<script type="text/javascript" src="//nsg.symantec.com/private/rollover/rollover.js"></script>
<script type="text/javascript">
    if (window._GUARANTEE && _GUARANTEE.Loaded) {
        _GUARANTEE.Hash = 'AspySwv5yAH05aTGLRy0Drh4Fb8v9UnAY7ccWP%2BH2LlfviO8x5Jh1YJIkHem9rtOyVbcvypA6xfDil73pF4dng%3D%3D';
        _GUARANTEE.WriteSeal("_GUARANTEE_SealSpan", "GuaranteedSeal");
    }
</script>
<!-- END: _GUARANTEE Seal -->
<script src="{{cdn 'webdav:js/jquery.min.js'}}"></script>
<script src="/content/js/simple-slider.js"></script>
<script src="/content/js/custom-js.js"></script>

<script type="text/javascript">
    var ua = window.navigator.userAgent;
    if (ua.indexOf("MSIE ") != -1 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
        $('body').addClass('has-activeModal');
        $('.IEBPOP').show();
    }
    $('.minimumQTY .form-input').change(function() {
        var newQty = $(this).val();
        if (newQty < 4) {
            $(this).val('4');
        }
    });

    if($('#HazardTxt').html()){
        $('[for="attribute-check-113"] span').html($('#HazardTxt span').html()); 
    }
</script>
{{#if  page_type  '=='  default   }} 

{{else}}
<script type="text/javascript">
    $.ajax({
        type: "GET",
        url: "/",
        success: function(msg) {
            var html = $(msg);
            var starts = html.find('.HelpRight .RightBloginner').html();
            $('.HelpFQA').html(starts);
        }
    });
</script>
{{/if}}
<script>
	$(".DealLeft.tooltip a").on('click' ,function() {
	    copyToClipboard($(this).children('span'));
	});
	$(".DealLeft.tooltip a").mouseout(function() {
	    outFunc($(this));
	});

	function copyToClipboard(element) {
	    var $temp = $("<input>");
	    $("body").append($temp);
	    $temp.val($(element).text()).select();
	    document.execCommand("copy");
	    var tooltip = $(element).parent().parent().children('.tooltiptext');
	    tooltip[0].innerHTML = "Copied";
	    $temp.remove();
	}

	function outFunc(element) {
	    var tooltip = $(element).parent().children('.tooltiptext');   
	    tooltip[0].innerHTML = "Copy to clipboard";
	}
	
	$('.Homepage-Hero-right .WidgetCloseLink a').live('click', function(){
        if($(this).parent().parent().hasClass('is-open')){
        	$(this).parent().parent().removeClass('is-open');
        	$(this).parent().siblings('div').slideUp({duration: 400});
            //$('body').removeClass('BigBackground');
        }else{
        	$(this).parent().parent().addClass('is-open');
        	//$('body').addClass('BigBackground');
        	$(this).parent().siblings('div').slideDown({duration: 400});
        }
        if($(".Widget-Size-Recent-Searches").hasClass("is-open") && $(".Search-Widget-Recent-Searches").hasClass("is-open") ){
            $('body').addClass('BigBackground');
        }else if( !$(".Widget-Size-Recent-Searches").hasClass("is-open") && !$(".Search-Widget-Recent-Searches").hasClass("is-open")){
            $('body').removeClass('BigBackground');
        }else{
            $('body').addClass('BigBackground');
        }
    });
    
    
    if($(".AfterLogin").length){
        var getVal = $.trim($('.AfterLogin .price--non-sale').html());
        if(getVal) {
            $('.custom_product .productView-price.AfterLogin .price-section.non-sale-price--withoutTax').css('display','inline-block');
            $('.custom_product .productView-price.AfterLogin .price-section.non-sale-price--withoutTax').addClass('visible-price');
        }
    }
    $('.minimumQTY select').change(function(){
		var newQty = $(this).val();
		if (newQty < 4) {
		    alert("The minimum purchasable quantity is 4");
			$(this).val('4');
		} 
	});
</script>
