<div id="searchspring-category-selection"></div>
<div id="searchspring-finder-selection">
    <div class="CategoryTopContent">
        <div class="container">
            <div class="Left">
                <div class="CatImg">
                    <img src="{{cdn 'webdav:cat-tire-search.png'}}" alt=""/>
                </div>
                <div class="CatContent">
                    <p>Shopping for:</p>
                    <span class="SizeLabel">Size:</span><h1 class="SizeValue"> 295/30ZR20 Tires</h1>
                    <a href="javascript:void(0)" class="ClearSizeSearch">Clear</a>
                </div>
            </div>
            <div class="Left Vehicle-Search" style="display: none;">
                <div class="CatImg">
                    <img src="{{cdn 'webdav:vehicle-example-cp.png'}}" alt=""/>
                </div>
                <div class="CatContent">
                    <p>Shopping for:</p>
                    <div class="front_left">
                        <span class="SizeValue">2018 BMW M5 Base</span>
                    </div>
                    <a href="javascript:void(0)" class="ClearSizeSearch">Clear</a>
                </div>
                <div class="Tire-Size-Btn">
                    <a class="Single-Size"><span class="Label">TIRE SIZE :</span><span class="Value">295/30ZR20</span></a>
                </div>
            </div>
            <div class="Right"> 
                <a href="javascript:void(0)" class="SwitchSize">Switch Vehicles & Sizes</a>
                <div class="SwitchSizePop" style="display: none;">
                    <div class="inner">
                        <div class="Top">
                            <div class="Left">
                                <h3><span class="SearchedCount">(5)</span> My Searched Vehicles & Sizes</h3>
                                <a class="ClearAllSearches" href="javascript:void(0)">CLEAR ALL <span class="hideMob">SEARCHES</span></a>
                            </div>
                            <div class="Right">
                                <a class="SearchNew" href="javascript:void(0)" data-reveal-id="SearchNew">Search new vehicle or size</a>
                            </div>
                        </div>
                        <div class="SwitchSizePopContent">
                            <ul>
                                <li>
                                    <div class="Vehicle_inner">
                                        <div class="Vehicle-Recent-Img">
                                            <img src="{{cdn 'webdav:vehicle-example.png'}}" alt="">
                                        </div>
                                        <div class="Vehicle-Recent-Content">
                                            <p>1999  AM General <br/>Hummer Base</p>
                                            <a class="button" href="javascript:void(0)">Shop</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="Vehicle_inner"> 
                                        <div class="Vehicle-Recent-Img">
                                            <img src="{{cdn 'webdav:vehicle-example.png'}}" alt="">
                                        </div>
                                        <div class="Vehicle-Recent-Content">
                                            <p>2007 ACURA <br/>RX BASE</p>
                                            <a class="button" href="javascript:void(0)">Shop</a>
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="Vehicle_inner">
                                        <div class="Vehicle-Recent-Img">
                                            <img src="{{cdn 'webdav:vehicle-example.png'}}" alt="">
                                        </div>
                                        <div class="Vehicle-Recent-Content">
                                            <p>1999  AM General <br/>Hummer Base</p>
                                            <a class="button" href="javascript:void(0)">Shop</a>
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="size_inner">    
                                        <div class="Size-Recent-Img">
                                            <img src="{{cdn 'webdav:tire-search.png'}}" alt="">
                                        </div>
                                        <div class="Size-Recent-Content">
                                            <div class="Tire-Size-Text">
                                                <span class="Tire-Size-Label">Tire Size:</span>
                                                <span class="Tire-Size-Value">245/70 R14</span>
                                            </div>
                                            <a class="button" href="javascript:void(0)">Shop</a>
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="size_inner">
                                        <div class="Size-Recent-Img">
                                            <img src="{{cdn 'webdav:tire-search.png'}}" alt="">
                                        </div>
                                        <div class="Size-Recent-Content">
                                            <div class="Tire-Size-Text">
                                                <span class="Tire-Size-Label">Tire Size:</span>
                                                <span class="Tire-Size-Value">245/70 R14</span>
                                            </div>
                                            <a class="button" href="javascript:void(0)">Shop</a>
                                        </div>
                                    </div>  
                                </li>
                            </ul>
                        </div>
                        <div class="MenuButtons hideDesktop">
                            <ul>
                                <li><a href="javascript:void(0)" data-collapsible="navPages-mob-BySize">Shop By Size</a></li>
                                <li><a href="javascript:void(0)" data-collapsible="navPages-mob-ByVehicle">Shop By Vehicle</a></li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
	<div class="Cat-Search-List-Row">
		<p>Check a List of some popular vehicles that 235/65R17 tires may fit depending on Year & Option:</p><a href="javascript:void(0);" class="Show-List-Btn">Show List Vehicles</a>
	</div>
	<div class="Cat-Search-List-Pop">
		<div class="Cat-Search-List">{{{category.description}}}</div> 
		<div class="Found-Vehicle-Block">
			<h3>Found your Vehicle in this list?</h3>
			<p>Type the Year & Option of your vehicle to make sure the tires fit on your vehicle.</p>
			<a href="javascript:void(0);" class="Search-Vehicle-Btn hideMob" data-reveal-id="SearchNew">SEARCH BY VEHICLE</a>
			<a href="javascript:void(0);" class="Search-Vehicle-Btn hideDesktop" data-collapsible="navPages-mob-ByVehicle">SEARCH BY VEHICLE</a>
		</div>
	</div>
</div>

<div id="SearchNew" class="modal" data-reveal>
    <div class="modal-header">
        <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button"><span aria-hidden="true"></span></a>
    </div>
    <div class="modal-body">
    	<div class="Search-Widget-Inner">
            <ul class="tabs" data-tab>
                <li class="tab is-active">
                    <a class="tab-title" href="#tab-Search-Widget-Vehicle">Shop Tires By <span>Vehicle</span></a>
                </li>
                <li class="tab">
                    <a class="tab-title productView-reviewTabLink" href="#tab-Search-Widget-Size">Shop Tires By <span>Size</span></a>
                </li>
            </ul>
            <div class="tabs-contents">
                <div class="tab-content is-active" id="tab-Search-Widget-Vehicle">
                    <div id="searchspring-home-vehicle-finder">
                        {{> components/common/searchwidget/byvehiclemmlink}}    
                    </div>
                </div>
                <div class="tab-content" id="tab-Search-Widget-Size">
                    <div id="searchspring-home-size-finder">
                        {{> components/common/searchwidget/bysizemmlink}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
