<div id="searchspring-nav-vehicle-finder">
	<div class="Vehicle-Recent-Searches">
		<div class="Vehicle-Recent-Top">
			<h3>Recent Searches:</h3>
			<a href="javascript:void(0)" class="Vehicle-Recent-Clear">Clear All</a>
		</div>
		<div class="Vehicle-Recent-Result">
			<ul>
				<li>
					<div class="Vehicle_inner">
						<div class="Vehicle-Recent-Img">
							<img src="{{cdn 'webdav:vehicle-example.png'}}" alt="">
						</div>
						<div class="Vehicle-Recent-Content">
							<p>1999  AM General <br/>Hummer Base</p>
							<a class="button" href="javascript:void(0)">Shop</a>
						</div>
					</div>
				</li>
				<li>
					<div class="Vehicle_inner">	
						<div class="Vehicle-Recent-Img">
							<img src="{{cdn 'webdav:vehicle-example.png'}}" alt="">
						</div>
						<div class="Vehicle-Recent-Content">
							<p>2007 ACURA <br/>RX BASE</p>
							<a class="button" href="javascript:void(0)">Shop</a>
						</div>
					</div>	
				</li>
				<li>
					<div class="Vehicle_inner">
						<div class="Vehicle-Recent-Img">
							<img src="{{cdn 'webdav:vehicle-example.png'}}" alt="">
						</div>
						<div class="Vehicle-Recent-Content">
							<p>1999  AM General <br/>Hummer Base</p>
							<a class="button" href="javascript:void(0)">Shop</a>
						</div>
					</div>	
				</li>
			</ul>
		</div>
	</div>
	<div class="Vehicle-MM-Wrap">
		<h3>New Search:</h3>
		<ul>
			<li class="ss-finder-disabled">
				<span>Year</span>
				<a href="javascript:void(0)" data-collapsible="navPages-Vehicle-Year" class="has-subMenu">Select Year <i class="fas fa-chevron-down"></i></a>
				<div class="navPage-subMenu" id="navPages-Vehicle-Year" aria-hidden="true" tabindex="-1">
					<div class="Vehicle-Year-Search">
						<input class="form-input" type="text" name="Vehicle-Year-Search" placeholder="Search Year...">
					</div>
					<div class="Vehicle-Year-List itemsList">
						<ul>
							<li><a href="javascript:void(0)">2019</a></li>
							<li><a href="javascript:void(0)">2012</a></li>
							<li><a href="javascript:void(0)">2003</a></li>
							<li><a href="javascript:void(0)">1994</a></li>
							<li><a href="javascript:void(0)">1985</a></li>
							<li><a href="javascript:void(0)">2018</a></li>
							<li><a href="javascript:void(0)">2011</a></li>
							<li><a href="javascript:void(0)">2002</a></li>
							<li><a href="javascript:void(0)">1993</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="ss-finder-disabled">
				<span>Make</span>
				<a href="javascript:void(0)" data-collapsible="navPages-Vehicle-Make" class="has-subMenu">Select Make <i class="fas fa-chevron-down"></i></a>
				<div class="navPage-subMenu" id="navPages-Vehicle-Make" aria-hidden="true" tabindex="-1">
					<div class="Vehicle-Make-Search">
						<input class="form-input" type="text" name="Vehicle-Make-Search" placeholder="Search Make...">
					</div>
					<div class="Vehicle-Make-List itemsList">
						<ul>
							<li><a href="javascript:void(0)">Acura</a></li>
							<li><a href="javascript:void(0)">Dodge</a></li>
							<li><a href="javascript:void(0)">Jaguar</a></li>
							<li><a href="javascript:void(0)">McLaren</a></li>
							<li><a href="javascript:void(0)">Scion</a></li>
							<li><a href="javascript:void(0)">Alfa Romeo</a></li>
							<li><a href="javascript:void(0)">Ferrari</a></li>
							<li><a href="javascript:void(0)">Jeep</a></li>
							<li><a href="javascript:void(0)">Mercedes-Benz</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="ss-finder-disabled">
				<span>Model</span>
				<a href="javascript:void(0)" data-collapsible="navPages-Vehicle-Model" class="has-subMenu">Select Model <i class="fas fa-chevron-down"></i></a>
				<div class="navPage-subMenu" id="navPages-Vehicle-Model" aria-hidden="true" tabindex="-1">
					<div class="Vehicle-Model-Search">
						<input class="form-input" type="text" name="Vehicle-Model-Search" placeholder="Search Model...">
					</div>
					<div class="Vehicle-Model-List itemsList">
						<ul>
							<li><a href="javascript:void(0)">A 3</a></li>
							<li><a href="javascript:void(0)">A6</a></li>
							<li><a href="javascript:void(0)">Q3</a></li>
							<li><a href="javascript:void(0)">RS5</a></li>
							<li><a href="javascript:void(0)">S6</a></li>
							<li><a href="javascript:void(0)">A 3 Quattro</a></li>
							<li><a href="javascript:void(0)">A6 Quattro</a></li>
							<li><a href="javascript:void(0)">Q3 Quattro</a></li>
							<li><a href="javascript:void(0)">RS7</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="ss-finder-disabled">
				<span>Option</span>
				<a href="javascript:void(0)" data-collapsible="navPages-Vehicle-Option" class="has-subMenu">Select Option <i class="fas fa-chevron-down"></i></a>
				<div class="navPage-subMenu" id="navPages-Vehicle-Option" aria-hidden="true" tabindex="-1">
					<div class="Vehicle-Option-Search">
						<input class="form-input" type="text" name="Vehicle-Option-Search" placeholder="Search Option...">
					</div>
					<div class="Vehicle-Option-List itemsList">
						<ul>
							<li><a href="javascript:void(0)">Premium Cabiolet</a></li>
							<li><a href="javascript:void(0)">Prestige Sedan</a></li>
							<li><a href="javascript:void(0)">Premium Plus Cabiolet</a></li>
							<li><a href="javascript:void(0)">Prestige Cabiolet</a></li>
							<li><a href="javascript:void(0)">Premium Plus Sedan</a></li>
							<li><a href="javascript:void(0)">Prestige Sedan</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="ss-finder-disabled">
				<span>Zip Code (Optional)</span>
				<a href="javascript:void(0)" data-collapsible="navPages-Vehicle-ZIP" class="has-subMenu">Enter ZIP <i class="fas fa-chevron-down"></i></a>
				<div class="navPage-subMenu" id="navPages-Vehicle-ZIP" aria-hidden="true" tabindex="-1">
					<div class="zipCodeWrap Vehicle-ZIP-List">
						<div class="Zip-Left">
							<form class="form" action="">
								<label for="Search-Vehicle-ZIP">Enter your zip code to find shipping times with FREE FedEx Shipping.</label>
								<div class="form-field">
									<input class="form-input" name="Search-Vehicle-ZIP" id="Search-Vehicle-ZIP" placeholder="Type ZIP/Postal Code" >
									<input class="form-button Search-Vehicle-ZIP-btn" type="submit" value="Use zip code">
								</div>
							</form>
							<a class="Search-Vehicle-Location" href="javascript:void(0)">Search near my Location</a> 
						</div>
						<div class="Zip-Right">
							<a class="Search-Vehicle-SkipCode" href="javascript:void(0)">Skip zip code</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="Search-Vehicle-Result-Wrap sr_button">
		<a class="button ss-finder-disabled" href="javascript:void(0)">Show Results</a>
		<div class="Search-Vehicle-Result-Txt" style="display: none;">
			<p>There are 31 results based on your parameters.</p>
		</div>
	</div>
</div>
