<a href="javascript:void(0)" data-collapsible="navPages-Membership" class="has-subMenu">MEMBERSHIP <i class="fas fa-chevron-down"></i></a>
<div class="navPage-subMenu" id="navPages-Membership" aria-hidden="true" tabindex="-1">
	<div class="menu_inner">
		<div class="Membership_outer">	
			<h2>Priority Tire Membership</h2>
			<p>Become a Member and <strong>save money on every order</strong>. Logged in members get lower prices, exclusive sale and coupon codes. Join now and enjoy the benefits.</p>
			<ul>
				<li>
					<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
					    <g fill="none" fill-rule="evenodd">
					        <circle cx="13" cy="13" r="13" fill="#3D3B3B"/>
					        <path fill="#FFF" d="M11.462 18.845L6.267 13.847 7.869 12.182 11.265 15.449 17.693 7.643 19.477 9.112z"/>
					    </g>
					</svg>Guaranteed <strong>discounted prices</strong> on all tires when they checkout
				</li>
				<li>
					<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
					    <g fill="none" fill-rule="evenodd">
					        <circle cx="13" cy="13" r="13" fill="#3D3B3B"/>
					        <path fill="#FFF" d="M11.462 18.845L6.267 13.847 7.869 12.182 11.265 15.449 17.693 7.643 19.477 9.112z"/>
					    </g>
					</svg>Get <strong>exclusive coupon codes</strong> and early offers before the public
				</li>
				<li>
					<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
					    <g fill="none" fill-rule="evenodd">
					        <circle cx="13" cy="13" r="13" fill="#3D3B3B"/>
					        <path fill="#FFF" d="M11.462 18.845L6.267 13.847 7.869 12.182 11.265 15.449 17.693 7.643 19.477 9.112z"/>
					    </g>
					</svg>Save your favorite Local Installers
				</li>
			</ul>
			<p>And many more!</p>
			<div class="Membership-Bottom">
				<h3>Don’t have an account already?</h3>
				<p>It is time to make one and enjoy all our member benefits!</p>
				<ul class="Buttons">
					<li><a href="/login.php?action=create_account">Register Now</a></li>
					<li><a href="/membership/">LEARN MORE</a></li>
				</ul>
			</div>	
		</div>
	</div>
</div>
