<div id="searchspring-home-size-finder">
	<div class="Widget-Size-Top">
		<div class="Front-Rear-Widget-Size">
			<div class="Front-Wrap">
				<ul>
					<li class="ss-finder-disabled">
						<a href="javascript:void(0)" class="has-subMenu"><span class="count">1</span>Select Width <i class="fas fa-chevron-down"></i></a>
						<div class="navPage-subMenu" id="navPages-Front-Widget-Size-Width" aria-hidden="true">
							<div class="Front-Size-Width-Search">
								<input class="form-input" type="text" name="Front-Size-Width-Search" placeholder="Search Width...">
							</div>
							<div class="Front-Size-Width-List itemsList">
								<ul>
									<li><a href="javascript:void(0)">4.8</a></li>
									<li><a href="javascript:void(0)">18</a></li>
									<li><a href="javascript:void(0)">28</a></li>
									<li><a href="javascript:void(0)">42</a></li>
									<li><a href="javascript:void(0)">225</a></li>
									<li><a href="javascript:void(0)">325</a></li>
									<li><a href="javascript:void(0)">4.10</a></li>
									<li><a href="javascript:void(0)">18.5</a></li>
									<li><a href="javascript:void(0)">29</a></li> 
								</ul>
							</div>
						</div>
					</li>
					<li class="ss-finder-disabled">
						<a href="javascript:void(0)" class="has-subMenu"><span class="count">2</span>Select Sidewall <i class="fas fa-chevron-down"></i></a>
						<div class="navPage-subMenu" id="navPages-Front-Widget-Size-Sidewall" aria-hidden="true">
							<div class="Front-Size-Sidewall-Search">
								<input class="form-input" type="text" name="Front-Size-Sidewall-Search" placeholder="Search Sidewall...">
							</div>
							<div class="Front-Size-Sidewall-List itemsList">
								<ul>
									<li><a href="javascript:void(0)">5.00</a></li>
									<li><a href="javascript:void(0)">6.00</a></li>
									<li><a href="javascript:void(0)">6.50</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="ss-finder-disabled">
						<a href="javascript:void(0)" class="has-subMenu"><span class="count">3</span>Select Diameter <i class="fas fa-chevron-down"></i></a>
						<div class="navPage-subMenu" id="navPages-Front-Widget-Size-Diameter" aria-hidden="true">
							<div class="Front-Size-Diameter-Search">
								<input class="form-input" type="text" name="Front-Size-Diameter-Search" placeholder="Search Diameter...">
							</div>
							<div class="Front-Size-Diameter-List itemsList">
								<ul>
									<li><a href="javascript:void(0)">6</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li><a class="button ss-finder-disabled" href="javascript:void(0)">SEARCH</a></li>
				</ul>
			</div>
		</div>
		<div class="Widget-Size-Recent-Searches">
		<p class="WidgetCloseLink"><a href="javascript:void(0);" class="show">
		        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <g fill="none" fill-rule="evenodd" opacity=".7" transform="rotate(90 8 8)">
                        <rect width="16" height="16" fill="#E4E4E4" rx="8"/>
                        <path fill="#3A3839" d="M7.273 3.636H8.728V12.363H7.273z"/>
                        <path fill="#3A3839" d="M7.273 3.636H8.728V12.363H7.273z" transform="rotate(90 8 8)"/>
                    </g>
                </svg>Show Recent Searches</a>
    		<a href="javascript:void(0);" class="close"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16"><defs><style>.a{fill:#d61e1e;}.b{clip-path:url(#a);}.c{fill:#e4e4e4;}.d{fill:#3a3839;}</style><clipPath id="a"><rect class="a" width="16" height="16" transform="translate(1775 4206)"/></clipPath></defs><g class="b" transform="translate(-1775 -4206)"><rect class="c" width="16" height="16" rx="8" transform="translate(1791 4206) rotate(90)"/><path class="d" d="M-1796.365,8.726V5.09H-1800V3.636h3.635V0h1.455V3.636h3.637V5.09h-3.637V8.726Z" transform="translate(3049.622 2941.208) rotate(-45)"/></g></svg>Close Recent Searches</a></p>
		<div class="Widget-Size-Recent-Searches-inner">
			<div class="Widget-Size-Recent-Top">
				<h3>Recent Searches:</h3>
				<a href="javascript:void(0)" class="Widget-Size-Recent-Clear">Clear All</a>
			</div>
			<div class="Widget-Size-Recent-Result">
				<ul>
					<li>
						<div class="Widget-Size-Recent-Inner">
						<div class="Widget-Size-Recent-Img">
							<img src="{{cdn 'webdav:tire-search.png'}}" alt="">
						</div>
						<div class="Widget-Size-Recent-Content">
							<div class="Front-Rear-Text">
								<span class="Front-Label">Front:</span>
								<span class="Front-Value">255/50R19</span>
								<span class="Rear-Label">Rear:</span>
								<span class="Rear-Value">245/70 R14</span>
							</div>
							<a class="button" href="javascript:void(0)">Shop</a>
						</div>
						</div>
					</li>
					<li>
						<div class="Widget-Size-Recent-Inner">
						<div class="Widget-Size-Recent-Img">
							<img src="{{cdn 'webdav:tire-search.png'}}" alt="">
						</div>
						<div class="Widget-Size-Recent-Content">
							<div class="Tire-Widget-Size-Text">
								<span class="Tire-Widget-Size-Label">Tire Size:</span>
								<span class="Tire-Widget-Size-Value">245/70 R14</span>
							</div>
							<a class="button" href="javascript:void(0)">Shop</a>
						</div>
						</div>
					</li>
					<li>
						<div class="Widget-Size-Recent-Inner">
						<div class="Widget-Size-Recent-Img">
							<img src="{{cdn 'webdav:tire-search.png'}}" alt="">
						</div>
						<div class="Widget-Size-Recent-Content">
							<div class="Tire-Widget-Size-Text">
								<span class="Tire-Widget-Size-Label">Tire Size:</span>
								<span class="Tire-Widget-Size-Value">245/70 R14</span>
							</div>
							<a class="button" href="javascript:void(0)">Shop</a>
						</div>
						</div>
					</li>
				</ul>
			</div>
		</div>	
	</div>
	</div>
</div>
