<div id="searchspring-home-size-finder">
	<div class="Widget-Size-Recent-Searches">
		<div class="Widget-Size-Recent-Top">
			<h3>Recent Searches:</h3>
			<a href="javascript:void(0)" class="Widget-Size-Recent-Clear">Clear All</a>
		</div>
		<div class="Widget-Size-Recent-Result"><ul>
			<li>
				<div class="Widget-Size-Recent-Img">
					<img src="{{cdn 'webdav:tire-search.png'}}" alt="">
				</div>
				<div class="Widget-Size-Recent-Content">
					<div class="Front-Rear-Text">
						<span class="Front-Label">Front:</span>
						<span class="Front-Value">255/50R19</span>
						<span class="Rear-Label">Rear:</span>
						<span class="Rear-Value">245/70 R14</span>
					</div>
					<a class="button" href="javascript:void(0)">Shop</a>
				</div>
			</li>
			<li>
				<div class="Widget-Size-Recent-Img">
					<img src="{{cdn 'webdav:tire-search.png'}}" alt="">
				</div>
				<div class="Widget-Size-Recent-Content">
					<div class="Tire-Widget-Size-Text">
						<span class="Tire-Widget-Size-Label">Tire Size:</span>
						<span class="Tire-Widget-Size-Value">245/70 R14</span>
					</div>
					<a class="button" href="javascript:void(0)">Shop</a>
				</div>
			</li></ul>
		</div>
	</div>
	<div class="Widget-Size-Top">
		<div class="Front-Rear-Widget-Size">
			<h3>New Search:</h3>
			<div class="Front-Wrap">
				<h4>Front</h4>
				<ul>
					<li class="ss-finder-disabled">
						<span>Width</span>
						<a href="javascript:void(0)" class="has-subMenu">Select <i class="fas fa-chevron-down"></i></a>
						<div class="navPage-subMenu" id="navPages-Front-Widget-Size-Width" aria-hidden="true">
							<div class="Front-Size-Width-Search">
								<input class="form-input" type="text" name="Front-Size-Width-Search" placeholder="Search Width...">
							</div>
							<div class="Front-Size-Width-List itemsList">
								<ul>
									<li><a href="javascript:void(0)">4.8</a></li>
									<li><a href="javascript:void(0)">18</a></li>
									<li><a href="javascript:void(0)">28</a></li>
									<li><a href="javascript:void(0)">42</a></li>
									<li><a href="javascript:void(0)">225</a></li>
									<li><a href="javascript:void(0)">325</a></li>
									<li><a href="javascript:void(0)">4.10</a></li>
									<li><a href="javascript:void(0)">18.5</a></li>
									<li><a href="javascript:void(0)">29</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="ss-finder-disabled">
						<span>Sidewall</span>
						<a href="javascript:void(0)" class="has-subMenu">Select <i class="fas fa-chevron-down"></i></a>
						<div class="navPage-subMenu" id="navPages-Front-Widget-Size-Sidewall" aria-hidden="true">
							<div class="Front-Size-Sidewall-Search">
								<input class="form-input" type="text" name="Front-Size-Sidewall-Search" placeholder="Search Sidewall...">
							</div>
							<div class="Front-Size-Sidewall-List itemsList">
								<ul>
									<li><a href="javascript:void(0)">5.00</a></li>
									<li><a href="javascript:void(0)">6.00</a></li>
									<li><a href="javascript:void(0)">6.50</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="ss-finder-disabled">
						<span>Diameter</span>
						<a href="javascript:void(0)" class="has-subMenu">Select <i class="fas fa-chevron-down"></i></a>
						<div class="navPage-subMenu" id="navPages-Front-Widget-Size-Diameter" aria-hidden="true">
							<div class="Front-Size-Diameter-Search">
								<input class="form-input" type="text" name="Front-Size-Diameter-Search" placeholder="Search Diameter...">
							</div>
							<div class="Front-Size-Diameter-List itemsList">
								<ul>
									<li><a href="javascript:void(0)">6</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="Rear-Wrap">
				<h4>Rear</h4>
				<ul>
					<li>
						<span>Width</span>
						<a href="javascript:void(0)" class="has-subMenu">Select <i class="fas fa-chevron-down"></i></a>
						<div class="navPage-subMenu" id="navPages-Rear-Widget-Size-Width" aria-hidden="true">
							<div class="Rear-Size-Width-Search">
								<input class="form-input" type="text" name="Rear-Size-Width-Search" placeholder="Search Width...">
							</div>
							<div class="Rear-Size-Width-List itemsList">
								<ul>
									<li><a href="javascript:void(0)">4.8</a></li>
									<li><a href="javascript:void(0)">18</a></li>
									<li><a href="javascript:void(0)">28</a></li>
									<li><a href="javascript:void(0)">42</a></li>
									<li><a href="javascript:void(0)">225</a></li>
									<li><a href="javascript:void(0)">325</a></li>
									<li><a href="javascript:void(0)">4.10</a></li>
									<li><a href="javascript:void(0)">18.5</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<span>Sidewall</span>
						<a href="javascript:void(0)" class="has-subMenu">Select <i class="fas fa-chevron-down"></i></a>
						<div class="navPage-subMenu" id="navPages-Rear-Widget-Size-Sidewall" aria-hidden="true">
							<div class="Rear-Size-Sidewall-Search">
								<input class="form-input" type="text" name="Rear-Size-Sidewall-Search" placeholder="Search Sidewall...">
							</div>
							<div class="Rear-Size-Sidewall-List itemsList">
								<ul>
									<li><a href="javascript:void(0)">5.00</a></li>
									<li><a href="javascript:void(0)">6.00</a></li>
									<li><a href="javascript:void(0)">6.50</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<span>Diameter</span>
						<a href="javascript:void(0)" class="has-subMenu">Select <i class="fas fa-chevron-down"></i></a>
						<div class="navPage-subMenu" id="navPages-Rear-Widget-Size-Diameter"      aria-hidden="true">
							<div class="Rear-Size-Diameter-Search">
								<input class="form-input" type="text" name="Rear-Size-Diameter-Search" placeholder="Search Diameter...">
							</div>
							<div class="Rear-Size-Diameter-List itemsList">
								<ul>
									<li><a href="javascript:void(0)">6</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="different_rear">
				<div class="diff_rear_lbl ss-finder-disabled">
					<span class="open_close_ic"></span>
					<span class="diff_lbl_name">Add a Different Rear Tire Size</span>
					<span class="diff-tooltip"></span>
				</div>
			</div>
			<div class="Widget-Size-different" style="display: none">
				<span>Remove different rear tire size</span>
			</div>
			<div class="Front-Rear-Widget-Size-ZIP">
				<ul><li class="ss-finder-disabled">
					<span>Zip Code (Optional)</span>
					<a href="javascript:void(0)" class="has-subMenu">Enter ZIP <i class="fas fa-chevron-down"></i></a>
					<div class="navPage-subMenu" id="navPages-Front-Rear-Widget-Size-ZIP" aria-hidden="true">
						<div class="zipCodeWrap Front-Rear-Size-ZIP-List">
							<div class="Zip-Left">
								<form class="form" action="">
									<label for="Search-Front-Rear-Size-ZIP">Enter your zip code to find shipping times with FREE FedEx Shipping.</label>
									<div class="form-field">
										<input class="form-input" name="Search-Front-Rear-Size-ZIP" id="Search-Front-Rear-Size-ZIP" placeholder="Type ZIP/Postal Code" >
										<input class="form-button Search-Front-Rear-Size-ZIP-btn" type="submit" value="Use zip code">
									</div>
								</form>
								<a class="Search-Front-Rear-Size-Location" href="javascript:void(0)">Search near my Location</a> 
							</div>
							<div class="Zip-Right">
								<a class="Search-Front-Rear-Size-SkipCode" href="javascript:void(0)">Skip zip code</a>
							</div>
						</div>
					</div>
				</li></ul>
			</div>
		</div>
		<div class="Search-Widget-Size-Result-Wrap sr_button">
			<a class="button ss-finder-disabled" href="javascript:void(0)">Show Results</a>
			<div class="Search-Widget-Size-Result-Txt" style="display: none;">
				<p>There are 31 results based on your parameters.</p>
			</div>
		</div>
	</div>
</div>
