<div id="searchspring-home-vehicle-finder">
	<div class="Vehicle-MM-Wrap">
		<ul>
		<li class="ss-finder-disabled">
			<a href="javascript:void(0)" class="has-subMenu"><span class="count">1</span>Select Year <i class="fas fa-chevron-down"></i></a>
			<div class="navPage-subMenu" id="navPages-Search-Widget-Vehicle" aria-hidden="true">
				<div class="Vehicle-Search-Widget-Vehicle">
					<input class="form-input" type="text" name="Vehicle-Search-Widget-Vehicle" placeholder="Search Year...">
				</div>
				<div class="Search-Widget-Vehicle-List itemsList">
					<ul>
						<li><a href="javascript:void(0)">2019</a></li>
						<li><a href="javascript:void(0)">2012</a></li>
						<li><a href="javascript:void(0)">2003</a></li>
						<li><a href="javascript:void(0)">1994</a></li>
						<li><a href="javascript:void(0)">1985</a></li>
						<li><a href="javascript:void(0)">2018</a></li>
						<li><a href="javascript:void(0)">2011</a></li>
						<li><a href="javascript:void(0)">2002</a></li>
					</ul>
				</div>
			</div>
		</li>
		<li class="ss-finder-disabled">
			<a href="javascript:void(0)" class="has-subMenu"><span class="count">2</span>Select Make <i class="fas fa-chevron-down"></i></a>
			<div class="navPage-subMenu" id="navPages-Search-Widget-Make" aria-hidden="true">
				<div class="Search-Widget-Make-Search">
					<input class="form-input" type="text" name="Search-Widget-Make-Search" placeholder="Search Make..."> 
				</div>
				<div class="Search-Widget-Make-List itemsList">
					<ul>
						<li><a href="javascript:void(0)">Acura</a></li>
						<li><a href="javascript:void(0)">Dodge</a></li>
						<li><a href="javascript:void(0)">Jaguar</a></li>
						<li><a href="javascript:void(0)">McLaren</a></li>
						<li><a href="javascript:void(0)">Scion</a></li>
						<li><a href="javascript:void(0)">Alfa Romeo</a></li>
						<li><a href="javascript:void(0)">Ferrari</a></li>
						<li><a href="javascript:void(0)">Jeep</a></li>
						<li><a href="javascript:void(0)">Mercedes-Benz</a></li>
						<li><a href="javascript:void(0)">Smart</a></li>
					</ul>
				</div>
			</div>
		</li>
		<li class="ss-finder-disabled">
			<a href="javascript:void(0)" class="has-subMenu"><span class="count">3</span>Select Model <i class="fas fa-chevron-down"></i></a>
			<div class="navPage-subMenu" id="navPages-Search-Widget-Model" aria-hidden="true">
				<div class="Search-Widget-Model-Search">
					<input class="form-input" type="text" name="Search-Widget-Model-Search" placeholder="Search Model...">
				</div>
				<div class="Search-Widget-Model-List itemsList">
					<ul>
						<li><a href="javascript:void(0)">A 3</a></li>
						<li><a href="javascript:void(0)">A6</a></li>
						<li><a href="javascript:void(0)">Q3</a></li>
						<li><a href="javascript:void(0)">RS5</a></li>
						<li><a href="javascript:void(0)">S6</a></li>
						<li><a href="javascript:void(0)">A 3 Quattro</a></li>
						<li><a href="javascript:void(0)">A6 Quattro</a></li>
						<li><a href="javascript:void(0)">Q3 Quattro</a></li>
						<li><a href="javascript:void(0)">RS7</a></li>
						<li><a href="javascript:void(0)">S7</a></li>
					</ul>
				</div>
			</div>
		</li>
		<li class="ss-finder-disabled">
			<a href="javascript:void(0)" class="has-subMenu"><span class="count">4</span>Select Option <i class="fas fa-chevron-down"></i></a>
			<div class="navPage-subMenu" id="navPages-Search-Widget-Option" aria-hidden="true">
				<div class="Search-Widget-Option-Search">
					<input class="form-input" type="text" name="Search-Widget-Option-Search" placeholder="Search Option...">
				</div>
				<div class="Search-Widget-Option-List itemsList">
					<ul>
						<li><a href="javascript:void(0)">Premium Cabiolet</a></li>
						<li><a href="javascript:void(0)">Prestige Sedan</a></li>
						<li><a href="javascript:void(0)">Premium Plus Cabiolet</a></li>
						<li><a href="javascript:void(0)">Prestige Cabiolet</a></li>
						<li><a href="javascript:void(0)">Premium Plus Sedan</a></li>
						<li><a href="javascript:void(0)">Prestige Sedan</a></li>
					</ul>
				</div>
			</div>
		</li>
		<li><a class="button WSearchBtn" href="javascript:void(0)">SEARCH</a></li>
	</ul>
	</div>
	<div class="Search-Widget-Recent-Searches">
		<p class="WidgetCloseLink">
		    <a href="javascript:void(0);" class="show">
		        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <g fill="none" fill-rule="evenodd" opacity=".7" transform="rotate(90 8 8)">
                        <rect width="16" height="16" fill="#E4E4E4" rx="8"/>
                        <path fill="#3A3839" d="M7.273 3.636H8.728V12.363H7.273z"/>
                        <path fill="#3A3839" d="M7.273 3.636H8.728V12.363H7.273z" transform="rotate(90 8 8)"/>
                    </g>
                </svg>Show Recent Searches</a>
    		<a href="javascript:void(0);" class="close"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16"><defs><style>.a{fill:#d61e1e;}.b{clip-path:url(#a);}.c{fill:#e4e4e4;}.d{fill:#3a3839;}</style><clipPath id="a"><rect class="a" width="16" height="16" transform="translate(1775 4206)"/></clipPath></defs><g class="b" transform="translate(-1775 -4206)"><rect class="c" width="16" height="16" rx="8" transform="translate(1791 4206) rotate(90)"/><path class="d" d="M-1796.365,8.726V5.09H-1800V3.636h3.635V0h1.455V3.636h3.637V5.09h-3.637V8.726Z" transform="translate(3049.622 2941.208) rotate(-45)"/></g></svg>Close Recent Searches</a></p>
    	<div class="Search-Widget-Recent-inner">	
    		<div class="Search-Widget-Recent-Top">
    			<h3>Recent Searches:</h3><a href="javascript:void(0)" class="Search-Widget-Recent-Clear">Clear All</a>
    		</div>
    		<div class="Search-Widget-Recent-Result">
        		<ul>
            		<li>
            			<div class="Widget-Size-Recent-Searches-inner">
            			<div class="Search-Widget-Recent-Img">
            				<img src="{{cdn 'webdav:vehicle-example.png'}}" alt="">
            			</div>
            			<div class="Search-Widget-Recent-Content">
            				<p>1999  AM General <br/>Hummer Base</p>
            				<a class="button" href="javascript:void(0)">Shop</a>
            			</div>
            			</div>
            		</li>
            		<li>
            			<div class="Widget-Size-Recent-Searches-inner">
            			<div class="Search-Widget-Recent-Img">
            				<img src="{{cdn 'webdav:vehicle-example.png'}}" alt="">
            			</div>
            			<div class="Search-Widget-Recent-Content">
            				<p>2007 ACURA <br/>RX BASE</p>
            				<a class="button" href="javascript:void(0)">Shop</a>
            			</div>
            			</div>
            		</li> 
            		<li>
            			<div class="Widget-Size-Recent-Searches-inner">
            			<div class="Search-Widget-Recent-Img">
            				<img src="{{cdn 'webdav:vehicle-example.png'}}" alt="">
            			</div>
            			<div class="Search-Widget-Recent-Content">
            				<p>2007 ACURA <br/>RX BASE</p>
            				<a class="button" href="javascript:void(0)">Shop</a>
            			</div>
            			</div>
            		</li> 
            	</ul>
        	</div>
    	</div>
	</div>
</div>
