<div class="DealPromotions">
    <div class="container">
        <div class="DealOuter">
            <div class="DealLeft tooltip">
                <a><span id="copytext">FIRST5</span><img class="lazyload" title="" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" alt="Discount" data-sizes="auto" data-src="{{cdn 'webdav:first-time-buyer-discount.jpg'}}" /></a>
                <span id="myTooltip" class="tooltiptext">Copy to clipboard</span>
            </div> 
            <div class="DealRight">
                <ul>
                    <li>
                        <a href="/best-deals/"><img class="hideMob lazyload" title="" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" alt="Best deals on the site" data-sizes="auto" data-src="{{cdn 'webdav:best-deals-on-the-site-new.jpg'}}" /><img class="hideDesktop lazyload" title="" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" alt="Best deals on the site" data-sizes="auto" data-src="{{cdn 'webdav:mobimages/best-deals-on-the-site-mob.jpg'}}" /><span class="DealTxt">Best deals on the site</span></a>
                    </li>
                    <li>
                        <a href="/military-discount/"><img class="hideMob lazyload" title="" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" alt="Military Discount" data-sizes="auto" data-src="{{cdn 'webdav:militar-discounts-new.jpg'}}" /><img class="hideDesktop lazyload" title="" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" alt="Military Discount" data-sizes="auto" data-src="{{cdn 'webdav:mobimages/militar-discounts-mob.jpg'}}" /><span class="DealTxt">Military Discount</span></a>
                    </li>
                    <li>
                        <a href="/deal-of-the-week/"><img class="hideMob lazyload" title="" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" alt="Deal of the Week" data-sizes="auto" data-src="{{cdn 'webdav:deals-of-the-week-new.jpg'}}" /><img class="hideDesktop lazyload" title="" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" alt="Deal of the Week" data-sizes="auto" data-src="{{cdn 'webdav:mobimages/deals-of-the-week-mob.jpg'}}" /><span class="DealTxt">Deal of the Week</span></a>
                    </li>
                    <li>
                        <a href="/clearance-items/"><img class="hideMob lazyload" title="" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" alt="Clearance Items" data-sizes="auto" data-src="{{cdn 'webdav:clearance-new.jpg'}}" /><img class="hideDesktop lazyload" title="" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" alt="Clearance Items" data-sizes="auto" data-src="{{cdn 'webdav:mobimages/clearance-mob.jpg'}}" /><span class="DealTxt">Clearance Items</span></a>
                    </li> 
                </ul>
            </div>
        </div>
        <div class="DealBottom"><a href="/current-deals/" class="button">View All Promotions</a></div>
    </div>
</div>


