<div class="reviews_block">
	<div class="container">
		<div class="review_text">
			<h3>What our customers are saying</h3>
			<p>Over 300,000 Satisfied Customers Drive On Our Tires Everyday.</p>
			<p class="overall_rateing">4.8 Overall Satisfaction Rating</p>
			<ul class="review_ul">
				<li>
					<h3>Andrew H.</h3>
					<p>“I love this store real fast on all my orders and I will would love to continue to do a lot of business with them."</p>
					<span class="review-star">
					    <span class="sa_star sa_activestar"></span>
					    <span class="sa_star sa_activestar"></span>
					    <span class="sa_star sa_activestar"></span>
					    <span class="sa_star sa_activestar"></span>
					    <span class="sa_star sa_activestar"></span>
					</span>
					<span>Reviewed at 3 Jan 2019</span>
				</li>
				<li>
					<h3>Timothy</h3>
					<p>“The whole process was quick and easy. Our tire was delivered in just a couple of days.”</p>
					<span class="review-star">
					    <span class="sa_star sa_activestar"></span>
					    <span class="sa_star sa_activestar"></span>
					    <span class="sa_star sa_activestar"></span>
					    <span class="sa_star sa_activestar"></span>
					    <span class="sa_star sa_activestar"></span>
					</span>
					<span>Reviewed at 16 Oct 2018</span> 
				</li>
			</ul>
			<a href="/reviews/" class="review_btn">View All Reviews</a>
		</div>
	</div>
</div>
