<div class="container">
	<div class="FinanceMakeouter">
		<img class="lazyload hideMob" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" alt="Risk Free Buyings" data-sizes="auto" data-src="{{cdn 'webdav:Finance-Make-Mon-Pay.png'}}" alt="Risk Free Buying"/>
		<div class="FinanceMakeoverlap">
			<h3>Finance & Make Low Monthly Payments</h3>
			<ul>
				<li><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
					<g fill="none" fill-rule="evenodd">
						<circle cx="13" cy="13" r="13" fill="#FFF"/>
						<path fill="#004CA2" d="M11.462 18.845L6.267 13.847 7.869 12.182 11.265 15.449 17.693 7.643 19.477 9.112z"/>
					</g>
				</svg>Get approved in seconds</li>
				<li><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
					<g fill="none" fill-rule="evenodd">
						<circle cx="13" cy="13" r="13" fill="#FFF"/>
						<path fill="#004CA2" d="M11.462 18.845L6.267 13.847 7.869 12.182 11.265 15.449 17.693 7.643 19.477 9.112z"/>
					</g>
				</svg>Low monthly payments</li>
				<li><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
					<g fill="none" fill-rule="evenodd">
						<circle cx="13" cy="13" r="13" fill="#FFF"/>
						<path fill="#004CA2" d="M11.462 18.845L6.267 13.847 7.869 12.182 11.265 15.449 17.693 7.643 19.477 9.112z"/>
					</g>
				</svg>Buy Now Pay Later</li>
			</ul>
			<a href="/financing/">LEARN MORE</a>
		</div>
	</div>
	{{!-- <div class="risk-free-buying">
		<img class="lazyload hideMob" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" alt="Risk Free Buyings" data-sizes="auto" data-src="{{cdn 'webdav:risk-free-buying-banner.png'}}" alt="Risk Free Buying"/>
		<img class="lazyload hideDesktop" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" alt="Risk Free Buyings" data-sizes="auto" data-src="{{cdn 'webdav:risk-free-buying-mob.png'}}" alt="Risk Free Buying"/>
		<div class="risk-free-buying-text">
			<h3>Risk Free Buying</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<a href="/return-policy/" target="_blank">LEARN MORE</a>
		</div>
	</div> --}}
</div>
  
