<div class="ShopByType">
	<div class="container">
		<div class="SBTTOP">
			<h3>Shop by Type</h3>
			<p>Need to find your tires based on your vehicle type? We've got you covered. Passenger tires, truck tires, even commercial tires. Click the image below that represents your vehicle. </p>
		</div>
		<ul class="BottomTypeList">
			<li>
				<a href="/by-type/passenger-tires/"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" alt="Like new take off tires" data-sizes="auto" data-src="{{cdn 'webdav:passenger-new.svg'}}" alt="Passenger Tires"><span>Passenger</span></a>
			</li>
			<li>
				<a href="/by-type/truck-suv-tires/"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" data-sizes="auto" data-src="{{cdn 'webdav:truck-suv-new.svg'}}"  alt="Truck &amp; SUV tires"><span>SUV</span></a>       
			</li>
			<li>
				<a href="/by-type/light-truck-tires/"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" data-sizes="auto" data-src="{{cdn 'webdav:light-truck-new.svg'}}" alt="Light Truck Tires"><span>Light Truck</span></a>
			</li>
			<li>
				<a href="/by-type/commercial-tires/"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" data-sizes="auto" data-src="{{cdn 'webdav:commercial-new.svg'}}" alt="Commercial Tires"><span>Commercial Truck</span></a>
			</li>
			<li>
				<a href="/by-performance/all-terrain-tires/"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" data-sizes="auto" data-src="{{cdn 'webdav:all-terrain-new.svg'}}" alt="All Terrain tires"><span>All Terrain</span></a>
			</li>
			<li>
				<a href="/by-performance/mud-terrain-tires/"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" data-sizes="auto" data-src="{{cdn 'webdav:mud-terrain-new.svg'}}" alt="Mud Terrain tires"><span>Mud Terrain</span></a>
			</li>
			<li>
				<a href="/by-performance/high-performance-tires/"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" data-sizes="auto" data-src="{{cdn 'webdav:high-performance-new.svg'}}" alt="High Performance Tires"><span>High Performance</span></a>
			</li>
			<li>
				<a href="/by-season/winter-tires/"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" data-sizes="auto" data-src="{{cdn 'webdav:winter-new.svg'}}" alt="Winter Tires"><span>Winter</span></a>
			</li>
			<li>
				<a href="/by-type/trailer-tires/"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" data-sizes="auto" data-src="{{cdn 'webdav:trailer-new.svg'}}" alt="Trailer Tires"><span>Trailer</span></a>
			</li>
			<li>
				<a href="/by-type/atv-utv-tires/"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" data-sizes="auto" data-src="{{cdn 'webdav:atv-utv-new.svg'}}" alt="ATV &amp; UTV tires"><span>ATV/UTV</span></a>
			</li>
			<li>
				<a href="/by-type/farm-tractor-tires/"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" data-sizes="auto" data-src="{{cdn 'webdav:farm-tractor-new.svg'}}" alt="Farm Tractor Tires"><span>Farm Tractor</span></a>
			</li>
			<li>
				<a href="/by-type/industrial-tires/"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-n0i50vy/stencil/3202b7b0-39f4-0137-efb3-0242ac110027/e/df5744e0-df95-0136-bf4e-0bb47c4548a2/img/loading.svg" data-sizes="auto" data-src="{{cdn 'webdav:industrial-new.svg'}}" alt="Industrial Tires"><span>Industrial</span></a>
			</li>  
		</ul>
	</div>
</div>	
