// =============================================================================
// IntuitSolutions.net - Login from Anywhere
// =============================================================================
.modal--pupuploginWindow {
	margin: 0;
}

.modal--pupuploginWindow .alertBox {
	display: none;
}

.modal--pupuploginWindow .forgot-password {
	display: block;
    margin-top: 12px !important;
}

.modal-header-title {
    font-size:28px !important;font-weight:900 !important;line-height:36px !important;color:#2b2b2b !important;text-transform:uppercase !important;
}
