<div class="newshippingTxt">
	<div class="TopContent">
		<div class="Left">
			<img src="/content/productimages/FedExLogo.jpg" alt="FedExLogo">
		</div>
		<div class="Right">
			<p><b>If an order is placed before 1pm EST on a business day we ship the order the same day.</b></p>
			<p>If it is placed after 12pm EST or over the weekend, we will ship the order out the following business day. Depending where you are located in the 48 contiguous states FedEx will take 2-5 business days to deliver the tires to you from our Allentown, PA location.</p>
			<p>For a more specific tire frame contact us via e-mail <a href="mailto:info@prioritytire.com">info@prioritytire.com</a> or telephone <a href="tel:18664400177">1-866-440-0177</a>.</p>
		</div>
	</div>
</div>
