<div class="ProNewUsed ProDes" id="ProNewUsed">
	<div class="container">
		<h3>New vs Used</h3>
		<div class="ProNewUsedWrap">
			<div class="TopContent">
				<h4>Why Buy New vs. Used Tires?</h4>
				<h5>Save $100’s Buying High Quality Used Tires For Your Car Or Truck</h5>
				<p>The advantages of new tires are that they are brand new and covered under warranties by the manufacturer and some even offer road hazard warranties. Though with these bells and whistles comes the high dollar amount which can be detracting and not so ideal when in a financial pinch or when you leased the vehicle.</p>
				<p>With used tires the disadvantage is that they are not new and are not covered by a manufacturer warranty but, advantage of going used is that it is lighter on your wallet which the extra money saved can be put towards labor or installation costs. Also if you're currently leasing your vehicle you wouldn't want to pay for brand new tires to end up not even using the tires you're investing in. Used tires are an eco-friendly cost-wise alternative that are still great for the road and fits the bill.</p>
			</div>
			<div class="BottomContent">
				<p>Comparison of a popular set of 4 Michelin Latitude Tour Tires</p>
				<ul>
					<li class="online-stores">
						<span class="Newlable hideDesktop">NEW TIRES</span>
						<img src="{{cdn 'webdav:online-stores-logo.svg'}}" alt="Online stores logo">
						<span class="Newlable hideMob">NEW TIRES</span>
						<p>Set of 4: <span>$643.96</span></p>
						<span class="bottomLine">10/32 tread depth</span>
					</li>
					<li class="new-vs-used">
						<img src="/content/productimages/used-new-product-page-retina.jpg" alt="New vs used img">
					</li>
					<li class="best-used-tires">
						<span class="usedlable hideDesktop">USED TIRES</span>
						<img src="{{cdn 'webdav:used-logo-priority-tire-outlet.svg'}}" alt="Used logo priority tire outlet">
						<span class="usedlable hideMob">USED TIRES</span>
						<p>Set of 4: <span>$289.95</span></p>
						<span class="bottomLine">8/32 tread depth</span>
					</li>
				</ul>
				<div class="bottomText">
					<h5>Save $354.01</h5>
				</div>
			</div> 
		</div>
	</div>
</div>
