<div class="ProductDisclosure ProDes" id="ProductDisclosure">
	<div class="container">
		<h3>Product Disclosure</h3>
		<div class="Left">
			<p>We do everything we can to assure that the tires you receive are safe for the road. Some our our used tires may have been professionally repaired (safe spots only, meaning no sidewall repairs). This includes patches or stem patches.</p>
			<p>We inspect our tires twice, both visually and using air to test them.</p>
			<p><b>While we do not warrant or represent the quality of any of those repairs, we do however guarantee there have been no sidewall repairs.</b></p>
		</div>
		<div class="Right">
			<p>If a tire fails it will be discarded and not posted for sale. Once the tire is sold the process is ran through again to make sure that we are only sending out quality used tires.</p>
			<p><b>Rim not included, tire only!</b></p>
		</div>
	</div>
</div>
