<div class="usedtakeoffdetails">
	<div class="TopContent">
		<h4>Inspection Results</h4>
		<h5>This item has been air pressure and visually inspected by our staff!</h5>
		<img src="/content/productimages/inspection-badges.svg" alt="inspection-badges" />
		<p>Every single one of our tires goes through 2 inspections - when it arrives and before shipment.</p>
		<p>Tires are inspected for holes, bubbles, dry rot, uneven wear and air pressure. We only sell tires manufactured after 2011</p>
		<p><b>It is possible that a tire has been professionally repaired with a stem patch according to RMA guidelines.</b></p>
	</div>
	<div class="BottomContent">
		<div class="col-2">
			<h6>Our Inspection Process</h6>
			<p>We will do a visual inspection as well as a pressure test to each and every single one of our tires when it arrives.</p>
			<p>We will repair any damage to R.M.A.(Rubber Manufacturers Association) guidelines.</p>
		</div>
		<div class="col-2">
			<p>That means:</p>
			<ul>
				<li>The hole must be in the tread section of the tire</li>
				<li>The hole must not exceeding 6mm in diameter</li>
				<li>It must be repaired using both a stem and patch</li>
				<li>We will NOT sell tires manufactured before 2011</li>
			</ul>
		</div>
		<div class="col-1">
			<div class="Left">
				<img src="/content/productimages/badges-inspection-results-risk-free.svg" alt="badges-inspection-results-risk-free" />
			</div>
			<div class="Right">
				<p>To alleviate any concerns you may have, we have a full 90 Day, No Hassle Return Policy. <br class="hideDesktop"><br class="hideDesktop">Read some of <a class="ReadReviews" href="javascript:void(0)">our reviews</a> and you'll see that keep our word.</p>
			</div>
		</div>
	</div>
</div>
